{% extends 'home/main.html' %}
{% block description %}DecorEx (Декорекс) - Камины. Скульптуры. Ручная работа{% endblock description %}
{% block keywords %}Decorex. Декрорекс. Камины. Скульптуры. Ручная работа. Иркутск{% endblock keywords %}
{% block title %}DecorEx - о нас{% endblock title %}

{% block index_block %}
{% load static %}
<div class="container">
    <div class="text-center pb-5">
        <h1 class="title_block">О нас</h1>
        <img src="{% static 'home/img/ret1.png' %}" alt="ret" width="250px" />
    </div>
    <div class="container">
        <p>Компания Decorex известна на рынке тем, что выполняет работы по производству каминов, фресок, скульптур и
            барельефов, как из натурального камня, так и из других материалов. Наши мастера создают великолепные
            произведения искусства, декорирующие ваш дом. Всё, что мы делаем привносят особую, уникальную атмосферу
            тепла, изысканности и уюта.</p>
    </div>
    <div class="container mt-5">
            <p>Мы берём на себя все этапы работы: от разработки макета до окончательного монтажа. Наша компания сохраняет лидерские позиции в производстве изделий по индивидуальным проектам. Заказывайте у нас камины, фонтаны, скульптуры или декоративные архитектурные элементы — и вы узнаете, как пригласить искусство в ваш дом. </p>
        </div>
        <div class="container mt-5">
            <h4>Разработка концепции</h4>
            <p>В нашей дизайн-студии работают профессиональные и опытные художники, которые усовершенствуют любой имеющийся проект или воплотят в жизнь вашу идею с нуля. Мы увековечим в камне любую, даже самую смелую, находку</p>
        </div>
        <div class="container mt-5">
            <h4>Работа «под ключ»</h4>
            <p>Чаще всего, если мы работаем «под ключ», то берём на себя следующие этапы:</p>
            <ul>
                <li class="py-1">детализация идеи;</li>
                <li class="py-1">подготовка макета;</li>
                <li class="py-1">разработка проектной документации;</li>
                <li class="py-1">изготовление изделия;</li>
                <li class="py-1">все стадии согласования и доработки;</li>
                <li class="py-1">транспортировка до места назначения;</li>
                <li class="py-1">монтаж и пусконаладочные работы.</li>
            </ul>
            <p>Наши специалисты сопровождают заказ на каждой стадии и отслеживают качество выполнения работ. </p>
        </div>
</div>
{% endblock index_block %}