{% extends 'home/main.html' %}
{% block description %}DecorEx (Декорекс) - Камины. Скульптуры. Ручная работа{% endblock description %}
{% block keywords %}Decorex. Декрорекс. Камины. Скульптуры. Ручная работа. Иркутск{% endblock keywords %}
{% block title %}DecorEx - контакты{% endblock title %}
{% block index_block %}
<div class="container">
    {% load static %}
    <div class="text-center pb-5">
        <h1 class="title_block">Контакты</h1>
        <img src="{% static 'home/img/ret1.png' %}" alt="ret" width="250px" />
    </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Наименование организации</h2>
                </div>
                <div class="col-lg-6">
                    <h3>ООО «Строительные технологии» </h3>
                </div>
            </div>
        </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6">
                <h2>Телефон:</h2>
            </div>
            <div class="col-lg-6">
                <h3>8 (3952) 900-420</h3>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6">
                <h2>Электронная почта:</h2>
            </div>
            <div class="col-lg-6">
                <h3>Decorexx@mail.ru</h3>
            </div>
        </div>
    </div>
    <div class="container mt-5">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Адрес:</h2>
                </div>
                <div class="col-lg-6">
                    <h3>г. Иркутск</h3>
                </div>
            </div>
        </div>
                <div class="container mt-5">
            <div class="row">
                <div class="col-lg-6">
                    <h2>ОГРН</h2>
                </div>
                <div class="col-lg-6">
                    <h3>11 738 500 272 95</h3>
                </div>
            </div>
        </div>
                        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-6">
                    <h2>ИНН/КПП</h2>
                </div>
                <div class="col-lg-6">
                    <h3>3827054270 / 382701001</h3>
                </div>
            </div>
        </div>
    <div class="container text-center mt-5">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d156158.5959502463!2d104.12707643226489!3d52.29825264252428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5da83ad353e2f665%3A0x31d6cd1456d8e94e!2z0JjRgNC60YPRgtGB0LosINCY0YDQutGD0YLRgdC60LDRjyDQvtCx0Lsu!5e0!3m2!1sru!2sru!4v1572292042861!5m2!1sru!2sru"
            width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</div>
{% endblock index_block %}